node_modules/
dist/
.env
.DS_Store
*.log
.vscode/
backend/database.db

# Build e cache
build/
out/
.cache/

# Configuração de editores
.idea/

# Arquivos de sistema
Thumbs.db
ehthumbs.db

# Arquivos temporários e backup
*.tmp
*.bak
*~

# Lock files (opcional)
# package-lock.json
yarn.lock
